{% trans_default_domain 'FOSUserBundle' %}

<div class="contact-form">
    <h2 class="style1">РЕГИСТРАЦИЯ</h2>
    <form method="post" action="{{ path('fos_user_registration_register') }}">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">{{ 'registration.submit'|trans }}</button>
    </form>
</div>

