{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="contact-form">
        <h2 class="style1">СТАТЬ ПАРТНЕРОМ БЕЛКАРТА</h2>
        <p>
        Ваша заявка принята! Администрация сайта непременно свяжется с вами по указанным контактным данным для подтверждения операции.
        </p>
    </div>
{% endblock %}