{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="contact-form">
    <h2 class="style1">СТАТЬ ПАРТНЕРОМ БЕЛКАРТА *</h2>
    * становясь партнером БЕЛКАРТА, Вы соглашаетесь с "<a href="{{ path('publication_view', {slug: dogovor.slug}) }}">{{ dogovor.title }}</a>"

    {{ form(form) }}
</div>
{% endblock %}
