{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h2 class="style1">Карьера</h2>

    <p style="margin: 20px 0;">
        Присылайте своё резюме, а также письмо,
        описывающее Вашу заинтересованность в работе в
        нашем проекте на электронный адрес:  hr.belkarta@gmail.com
    </p>

    <h2 class="style1">Актуальные вакансии:</h2>
    <div class="vacancy"">
        <span class="name"><a href="#" id="1">Менеджер по работе с клиентами</a></span>
        <div class="one_vacancy" id="1_vacancy">
            <p>Обязанности:</p>
            <ul>
                <li>Прием и осуществление телефонных звонков;</li>
                <li>Прием и отправка электронной почты;</li>
                <li>Заключение договоров;</li>
                <li>Администрирование клиентской базы.</li>
            </ul>
            <p>Требования:</p>
            <ul>
                <li>Опыт дистанционных продаж и ведения переговоров;</li>
                <li>Уверенный ПК – пользователь;</li>
                <li>Хорошие коммуникативные навыки;</li>
                <li>Грамотность, способность работать с большим объемом информации;</li>
                <li>Желание и умение учиться.</li>
            </ul>
            <p>Условия:</p>
            <ul>
                <li>Возможность решения интересных задач;</li>
                <li>Работа в хорошей команде;</li>
                <li>Заработная плата - 3 раза в месяц+% по результатам;</li>
                <li>График работы - полный рабочий день.</li>
            </ul>
        </div>

        <span class="name"><a href="#" id="2">Менеджер по продажам</a></span>
        <div class="one_vacancy" id="2_vacancy">
            <p>Обязанности:</p>
            <ul>
                <li>Прием и осуществление телефонных звонков;</li>
                <li>Прием и отправка электронной почты;</li>
                <li>Заключение договоров;</li>
                <li>Администрирование клиентской базы.</li>
            </ul>
            <p>Требования:</p>
            <ul>
                <li>Опыт поиска и переговоров с потенциальными партнерами;</li>
                <li>Уверенный ПК – пользователь;</li>
                <li>Хорошие коммуникативные навыки;</li>
                <li>Грамотность, способность работать с большим объемом информации;</li>
                <li>Желание и умение учиться.</li>
            </ul>
            <p>Условия:</p>
            <ul>
                <li>Возможность решения интересных задач;</li>
                <li>Работа в хорошей команде;</li>
                <li>Заработная плата - 3 раза в месяц+% по результатам;</li>
                <li>График работы - полный рабочий день.</li>
            </ul>
        </div>

        <span class="name"><a href="#" id="3">Разработчик мобильных приложений для Android</a></span>
        <div class="one_vacancy" id="3_vacancy">
            <p>Обязанности:</p>
            <ul>
                <li>Разработки Android-приложений;</li>
                <li>Разработки web приложений;</li>
                <li>Работа программистом на одном из языков: C, C++, Python, Perl или Ruby;</li>
                <li>Программирование на Java.</li>
            </ul>
            <p>Требования:</p>
            <ul>
                <li>Опыт написания клиент-серверных приложений;</li>
                <li>Опыт программирования на Java от 2 лет;</li>
                <li>Опыт разработки Android-приложений от года;</li>
                <li>Опыт разработки сетевых приложений как на уровне сокетов, так и на уровне http;</li>
                <li>Аккуратность и ответственное отношение к работе.</li>
            </ul>
            <p>Условия:</p>
            <ul>
                <li>Работа в уникальном молодом стартапе;</li>
                <li>Работа в хорошей команде;</li>
                <li>Достойная заработная плата (обсуждается с каждым кандидатом отдельно);</li>
                <li>Молодой доброжелательный коллектив.</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(".vacancy .name:first").addClass("active");
        $(".vacancy .one_vacancy:first").show();

        $(".vacancy .name").unbind().click(function(){
            $('.one_vacancy:visible').slideUp("slow");
            $('.name').removeClass("active");

            $(this).next(".one_vacancy").slideDown("slow");
            $(this).toggleClass("active");
            return false;
        });
    </script>
{% endblock %}

