{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <!--<div class="row">
        <div class="col-sm-12">
            <h2 class="style1">Последние новости <a href="{{ path('category_view', {slug: 'novosti'}) }}" style="font-size: 0.4em; letter-spacing: 0px; color: #fff; padding: 3px 10px; border-radius: 2px; background-color: #4ba84b; border-color: #439643;">читать все новости</a></h2>
            {{ include('BlogPublicationsBundle::articlesList.html.twig', { 'items': news }) }}
        </div>
    </div>
    <div class="clear"></div>--!>
{% endblock %}

