{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {{ include('BlogPublicationsBundle::articleView.html.twig', { 'item': news }) }}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

