{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<h2 class="style1">БЕЛКАРТА "{% if type == 1 %}CLASSIC{% else %}PLATINUM{% endif %}"</h2>
<div>
    {{ publication.text|raw }}
</div>
    <br/><br/>
<a href="{{ path('belkarta_card_buy', {type: type}) }}" class="btn btn-danger btn-lg">КУПИТЬ КАРТУ {{ card.price }}$</a>
{% endblock %}
